<div class="editForm">
  <%= form_for :topic, url: {action: 'update'} do |f| %>
    <%= error_messages_for :topic %>
    <%= render partial: 'form', locals: {f: f} %>
      <dl>
        <dd><%= f.submit t('board.topic.update') %></dd>
      </dl>
  <% end %>
</div>
