<div class="commentForm">
  <%= form_for :comment, url: board_topic_comments_path(@cur_group.id, parent.id) do |f| %>
    <dl>
      <dt><%= t('board.topic.comment') %></dt>
      <dd><%= f.text_area :body %></dd>
      <dd><%= f.submit t('board.comment.submit') %></dd>
    </dl>
  <% end %>
</div>
